create_env.sh
configure_nginx.sh

*.md

.dockerignore
Dockerfile

.gitignore
.git

.DS_Store
.idea

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]
*$py.class
*/*$py.class
*/*/*$py.class
*/*/*/*$py.class