{% extends "schedule/base.html" %}
{% block header %}

    {% if user.is_authenticated %}
        <span class="btn btn-dark disabled">{{ user.username }}</span>
        <a class="btn btn-dark btn-lg" href="{% url 'logout' %}">Log out</a>
    {% else %}
        <a class="btn btn-dark btn-lg" href="{% url 'register' %}">Sign in</a>
        <a class="btn btn-dark btn-lg" href="{% url 'login' %}">Log in</a>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="media mb-4">
        <div class="media-body">
            <h2 class="mt-4">
                Auditorium: {{ aud.id }}
            </h2>
            <div class="border-top pt-3">
                <h3 class="mt-2">
                    {% if subject %}
                        <p>Subject: {{ subject.name }} {{ subject.type }}</p>
                        Occupied by:
                        {% for group in groups %}
                            <span class="badge badge-dark">{{ group }}</span>
                        {% endfor %}
                    {% elif reserved_by_user %}
                        Occupied by:
                        <span class="badge badge-dark">{{ reserved_by_user }}</span>
                    {% else %}
                        Not occupied
                    {% endif %}
                </h3>
            </div>
            <div class="mt-4">
                {% if not subject and not reserved_by_user %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-dark btn-lg" id="take_aud" href="#">Occupy auditorium</a>
                    {% else %}
                        <a class="btn btn-dark disabled">Occupy auditorium</a>
                        <div class="pt-3">
                            <small class="text-muted">
                                You need to be logged in to occupy this auditorium!
                                <br>
                                Have an account or want to create one? Then <a
                                    href="{% url 'login' %}?next={{ request.get_full_path }}">log in</a> or <a
                                    href="{% url 'register' %}?next={{ request.get_full_path }}">sign up</a>!
                            </small>
                        </div>
                    {% endif %}
                {% else %}
                    {% if user.is_authenticated and user.id == reserved_by_user.id %}
                        <a class="btn btn-dark btn-lg" id="cancel_reserved" href="#">Cancel reservation</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    <script>
        $("#take_aud").click(function () {
            $.ajax({
                type: "GET",
                data: {
                    aud_id: '{{ aud.id }}',
                    day_id: '{{ day.id }}',
                    time_id: '{{ time_id }}',
                    user: '{{ user.username }}'
                },
                url: "{% url 'occupy_auditorium' %}",
                success: function (data) {
                    if (data.taken) {
                        console.log("Taken");
                        location.reload();
                    }
                }
            });
        });
        $("#cancel_reserved").click(function () {
            $.ajax({
                type: "GET",
                data: {
                    aud_id: '{{ aud.id }}',
                    day_id: '{{ day.id }}',
                    time_id: '{{ time_id }}',
                    user: '{{ user.username }}'
                },
                url: "{% url 'cancel_reserved' %}",
                success: function (data) {
                    if (data.canceled) {
                        console.log("Canceled");
                        location.reload();
                    }
                }
            });
        });
    </script>
{% endblock %}