{% extends "schedule/base.html" %}
{% load schedule_extras %}

{% block content %}
    {% for day, aud_type in schedule_table.items %}
        <div class="container mb-4">
            <h1>{{ day }}</h1>
            <div class="accordion" role="tablist" id="table">
                {% for t in schedule_time %}
                    <div class="card" role="tab">
                        <div class="card-header" id="{{ t.start_time }}">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#table-{{ t.id }}-{{ day }}">
                                {{ t.start_time|time:'G:i' }} - {{ t.end_time|time:'G:i' }}
                            </button>
                            <div id="table-{{ t.id }}-{{ day }}" class="collapse"
                                 aria-labelledby="table-{{ t.id }}-{{ day }}" data-parent="#table">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            {% for a in aud_type.free|get_item:t.id %}
                                                <div class="col col-sm-2">
                                                    <a class="btn btn-success btn-block mb-2" aria-expanded="false"
                                                       href="{% url 'subject' day_name=day time_id=t.id aud_id=a.id %}">{{ a.id }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                            {% for a in aud_type.reserved|get_item:t.id %}
                                                {% ifequal user.id a.user_id %}
                                                    <div class="col col-sm-2">
                                                        <a class="btn btn-primary btn-block mb-2" aria-expanded="false"
                                                           href="{% url 'subject' day_name=day time_id=t.id aud_id=a.auditorium.id %}">{{ a.auditorium.id }}
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="col col-sm-2">
                                                        <a class="btn btn-warning btn-block mb-2" aria-expanded="false"
                                                           href="{% url 'subject' day_name=day time_id=t.id aud_id=a.auditorium.id %}">{{ a.auditorium.id }}
                                                        </a>
                                                    </div>
                                                {% endifequal %}
                                            {% endfor %}
                                            {% for a in aud_type.occupied|get_item:t.id %}
                                                <div class="col col-sm-2">
                                                    <a class="btn btn-danger btn-block mb-2" aria-expanded="false"
                                                       href="{% url 'subject' day_name=day time_id=t.id aud_id=a.id %}">{{ a.id }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
